/* 알럿 모달 */
.modal.modal-alert {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background-color: rgba(0,0,0,0.6);
	z-index: 100000;
	padding-top: 200px;

    &.on {
        display: flex;
    }

    .modal-box {
        border-radius: 8px;
        overflow: hidden;
        max-width: 360px;
        min-width: 360px;
    }

    .modal-content {
        padding: 26px 30px 0;
        overflow: hidden;

        .modal-alert-icon {
            display: flex;
            justify-content: center;
            padding-bottom: 12px;
        }

        .modal-alert-text {
            text-align: center;
            font-size: 16px;

            em {
                font-style: inherit;
                font-size: inherit;
            }
        }
    }

    .modal-footer {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 8px;
        padding: 20px 0;
        margin: 0;

        button {
            font-size: 14px;
            font-weight: 500;  
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            padding: 0 45px;
            height: 36px;
            line-height: 36px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.1s;
             
            &.secondary{
                border-color: #898684;
                background-color: #9B9B9B;

                &:hover{
                    border-color: #898684;
                    background-color: #888888;
                }
            }
        }
    }
}