/* 초기화 */
/* 색정의 */
:root {
    --ds-default-text-color: #222;   
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Pretendard';
	font-size: 14px;
	line-height: 1;
}

*::before,
*::after {
	box-sizing: border-box; 
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;  
}

/* scroll */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: #e5e5e5;
	border-radius: 4px;
}

html {
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
	min-width: 1700px;
    height: 100%;
    margin: 0;
    padding: 0;
	overflow-y: hidden;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

select {
	appearance: none;
	padding: 0px 19px 0 12px;
	/* padding-right: 35px; */
	background: white url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.93221 4.7779L0.23557 1.29271C-0.0785235 0.996583 -0.0785235 0.518223 0.23557 0.222096C0.549664 -0.0740318 1.05705 -0.0740318 1.37114 0.222096L4.50403 3.16819L7.62886 0.222096C7.94295 -0.0740318 8.45034 -0.0740318 8.76443 0.222096C9.07852 0.518223 9.07852 0.996583 8.76443 1.29271L5.06779 4.7779C4.76174 5.07403 4.24631 5.07403 3.93221 4.7779Z' fill='%23222222'/%3E%3C/svg%3E%0A") calc(100% - 10px) center / 9px no-repeat;
}

input, select, textarea {
	font-family: inherit;
	font-size: 14px;
	color: var(--ds-default-text-color);
	border: 1px solid #D5D9E1;
	outline: none;
	box-sizing: border-box;
	padding: 0 10px;
	border-radius: 4px;

	/* readOnly */
	&[readonly] {
		background-color: #f4f4f4;
		border-color: #e0e0e0;
		color: #5a5a5a;
	}
	/* disabled */
	&[disabled] {
		background-color: #f4f4f4;
		border-color: #e0e0e0;
		color: #BFBFBF;
	}
}

textarea {
	width: 100%;
	resize: none;
	padding: 12px;
}

ol, ul, li{
    list-style: none;
    color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
}

span, div, p{
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
}

a {
	text-decoration: none;
    color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
}

span {
	display: inline-block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* 전체 레이아웃 */ 
main {
    height: calc(100% - 46px);
	display: flex;
}

.app-container-content {
	flex: 1;

	.contents-wrapper {
		height: 100%;
		flex: 1;
		overflow-y: auto;
	}
}

/* 컴포넌트 간 간격 */
.page-title-area + .action-button-area {
	margin-top: 12px;
}
.page-title-area + .search-fields-area {
	margin-top: 12px;
}
.action-button-area + .search-fields-area {
	margin-top: 12px;
}
.search-fields-area + .tab-area {
	margin-top: 22px;
	margin-bottom: 22px;
}
.sub-tab-area {
	margin-top: 16px;
	margin-bottom: 14px;
}

/* flex */
.flex-container {
	display: flex;
	align-items: center;

	&.flex-between {
		justify-content: space-between;
	}

	.flex-1 { flex: 1; }
	.flex-2 { flex: 2; }
	.flex-3 { flex: 3; }
	.flex-4 { flex: 4; }
	.flex-5 { flex: 5; }

	.flex-end {
		display: flex;
		justify-content: end;
	}
}

/* 로딩 */
.loading{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000000BF;
	z-index: 1000000;

	.spinner {
		display: inline-block;
		width: 147px;
		height: 147px;
		border: 18px solid #676767;
		border-top: 18px solid #0071CE;
		border-radius: 50%;
		animation: spin 1s linear infinite;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}