/* 현재 위치 */
.breadcrumb-area {
	padding-left: 24px;
	border-bottom: 1px solid #E3E3E3;
	display: flex;
	align-items: center;
	gap: 25px;
	padding-top: 9px;
    padding-bottom: 7px;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 1;

	span { 
		color: #727272;
		line-height: 1;
		pointer-events: none;

		&.home {
			background: url(../../img/breadcrumb/location_home_icon.svg) center/cover no-repeat;
			width: 13px;
			height: 14px;
			transform: translateY(-1px);
		}

		&:not(:first-child) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: -16.5px;
				top: 51%;
				transform: translate(50%,-50%);
				background: url(../../img/breadcrumb/location_arrow_gray_icon.svg) center/cover no-repeat;
				width: 5px;
				height: 8px;
			}
		}

		&:last-child {
			color: #222222;

			&::after {
				content: '';
				position: absolute;
				left: -16.5px;
				top: 51%;
				transform: translate(50%,-50%);
				background-image: url(../../img/breadcrumb/location_arrow_black_icon.svg);
				width: 5px;
				height: 8px;
			}
		}
	}
}
