/* 알림 토스트 */
.toast {
	position: fixed;
	top: 20px;
	right: 20px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	z-index: 100;
	transform: translateX(120%);
	transition: transform 0.3s ease;
	border: 1px solid transparent;
    font-size: 14px;
    min-width: 410px;
    
    .toast-content {
        padding: 14px 20px 16px;
    }

    .toast-header {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-bottom: 16px;
        font-weight: 600;
        font-size: 16px;

        .toast-title {
            position: relative;
            padding-left: 32px;
            transform: translateY(-2px);

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .toast-close-button {
        position: absolute;
        top: 12px;
        right: 20px;
        background: url(../../img/toast/toast_close_icon.svg) center/cover no-repeat;
        width: 24px;
        height: 24px;
        border: none;
    }

    /* 활성화 */
    &.show {
        transform: translateX(0);
    }

    &.success {
        background: #EBFBF6;
        border-color: #10b981;

        .toast-header {
            color: #039855;

            .toast-title::before {
                background-image: url(../../img/toast/toast_success.svg);
            }
        }
    }
    &.error {
        background: #FDEDEE;
        border-color: #F4D0D3; 
        
        .toast-header {
            color: #D92D20;

            .toast-title::before {
                background-image: url(../../img/toast/toast_error.svg);
            }
        }
    }
    &.warning { 
        background: #FFF9E9;
        border-color: #EBE3CF; 

        .toast-header {
            color: #FFAB00;

            .toast-title::before {
                background-image: url(../../img/toast/toast_warning.svg);
            }
        }
    }
}

.toast {
}
